.page-footer {
  position: relative;
  width: 100%;
  height: 300px;

  background-color: $secondary-color;
  
  font-family: $base-font2;
  font-size: convertPxToEm( 24px );
  font-weight: 300;
  text-align: center;
  color: white;
}