.page-header {
  position: relative;
  width: 100%;
  /*height: 75px;*/
  
  /*
  * Hacker le wrapper
  * Du header
  * Pour pouvoir bien aligner ses modules
  */
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 75px;
  }
}