.wrapper {
  position: relative;
  width: 984px;

  margin: 0 auto;
}

.wrapper--middle { padding: $default-white-space 0; }

.wrapper--top { padding-top: $default-white-space; }

.wrapper--bottom { padding-bottom: $default-white-space; }