/* Site settings */
/*------------------------------------*\
  #SECTION-FONTS CONFIGURATION
\*------------------------------------*/
@font-face {
  font-family: 'Fjallaone';
  src: url("../fonts/fjallaone-regular-webfont.woff2") format("woff2"), url("../fonts/fjallaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/ptf75f-webfont.woff2") format("woff2"), url("../fonts/ptf75f-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Base */
/* ===========================
   Base
   =========================== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 16px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5625em;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: FjallaOne, serif;
}

h1 {
  font-size: 2.1875em;
}

h2 {
  font-size: 1.5625em;
}

a {
  color: #423f43;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

/* Layouts */
.page-header {
  position: relative;
  width: 100%;
  /*height: 75px;*/
  /*
  * Hacker le wrapper
  * Du header
  * Pour pouvoir bien aligner ses modules
  */
}

.page-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.page-header--light {
  background-color: white;
}

.wrapper {
  position: relative;
  width: 984px;
  margin: 0 auto;
}

.wrapper--middle {
  padding: 85px 0;
}

.wrapper--top {
  padding-top: 85px;
}

.wrapper--bottom {
  padding-bottom: 85px;
}

.page-footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #423f43;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  text-align: center;
  color: white;
}

/* Modules */
.clear-fix {
  clear: both;
}

.--last {
  margin: 0 !important;
}

.img-full-x {
  width: 100%;
}

/*------------------------------------*\
  #SECTION-DEFAULT NAVIGATION
\*------------------------------------*/
.nav {
  position: relative;
  display: inline-block;
}

.nav__item {
  margin-left: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.125em;
  color: #423f43;
  transition: all 0.2s;
}

/*------------------------------------*\
  #SECTION-HEADER NAVIGATION
\*------------------------------------*/
.nav-primary {
  z-index: 1;
}

.nav__item--light {
  color: white;
}

.nav__item--light:hover {
  color: #796296;
}

/*------------------------------------*\
  #SECTION-FOOTER NAVIGATION
\*------------------------------------*/
.nav-footer-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__item--social-btn {
  width: 45px;
  height: 45px;
  margin: 50px;
}

.nav__item--social-btn svg {
  fill: white;
  width: 100%;
  height: 100%;
}

/*------------------------------------*\
  #SECTION-BOX
\*------------------------------------*/
.box {
  position: relative;
}

.box-logo {
  display: block;
  width: 70px;
  z-index: 2;
}

.box-logo img {
  width: 100%;
}

/*------------------------------------*\
  #SECTION-BANNER OF SINGLE-BUILDING PAGE
\*------------------------------------*/
.box-img-banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.box-img-banner img {
  width: 100%;
}

/*------------------------------------*\
  #SECTION-WAVE SHAPE OF PAGE HEADERS
\*------------------------------------*/
/*
* Default wave style
*/
.box-header-mask {
  position: absolute;
  overflow: hidden;
}

.box-header-mask::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(118, 94, 131, 0.3), rgba(73, 43, 83, 0.6));
}

/*
* Wave shape of Home page
*/
.box-header-mask--home {
  top: -100px;
  right: -400px;
  left: 370px;
  bottom: -580px;
  background: url(../img/banner-home.jpg) no-repeat center/cover;
  -webkit-mask: url(../img/header_mask_home.png) no-repeat bottom left/cover;
}

/*
* Wave shape of Buildings page
*/
.box-header-mask--buildings {
  top: 0;
  right: 0;
  left: 0;
  bottom: -830px;
  background: url(../img/banner-buildings.jpg) no-repeat center/cover;
  -webkit-mask: url(../img/header_mask_buildings.png) no-repeat bottom left/cover;
  text-align: right;
}

/*------------------------------------*\
  #SECTION-BOX CONTAINS DESCRIPTION OF PAGES
\*------------------------------------*/
/*
* Description part
* Of the home page
*/
.box-hero {
  width: 430px;
  float: left;
}

.box-hero__title {
  font-family: "PT Serif", FjallaOne, sans-serif;
  letter-spacing: -2px;
  font-size: 3.75em;
  line-height: 50px;
  color: #423f43;
}

.box-hero__body {
  margin: 35px 0 50px 0;
  font-size: 1.125em;
  font-weight: 300;
  color: #4e4e4e;
}

/*
* Description search part
* Of the buildings page
*/
.box-hero--search {
  float: right;
  width: 450px;
  text-align: right;
}

.btn {
  display: block;
  width: 300px;
  height: 70px;
  border-radius: 360px;
  background-color: #796296;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: FjallaOne, serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  line-height: 70px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #796296;
}

.btn--center-x {
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title__h {
  position: relative;
  display: inline-block;
  padding: 0 150px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #796296;
}

.section-title__h::before, .section-title__h::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100px;
  height: 2px;
  background-color: #796296;
  transform: translateY(-50%);
}

.section-title__h::before {
  left: 0;
}

.section-title__h::after {
  right: 0;
}

/*------------------------------------*\
  #SECTION-HOUSE CARDS
\*------------------------------------*/
/*
* Default wrapper of houses cards
*/
.house-card-group {
  margin-bottom: 50px;
}

.house-card {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.house-card__img {
  width: 480px;
  height: 480px;
  margin-right: 30px;
  background-color: white;
}

.house-card__img img {
  width: 100%;
}

.house-card__body {
  width: calc( 100% - 510px);
}

.house-card__title {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5625em;
  font-weight: 300;
}

.house-card__title a:hover {
  text-decoration: underline;
}

.house-card__specs-list {
  margin: 40px 0;
}

.house-card__spec {
  display: block;
  margin-bottom: 15px;
  vertical-align: middle;
  color: #a7a7a7;
  font-size: 0.875em;
}

.house-card__spec::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #796296;
  margin-right: 15px;
  vertical-align: middle;
}

.house-card__desc {
  color: #6f6f6f;
}

/*
* House card
* With light theme
*/
.house-card--light .house-card__title a,
.house-card--light .house-card__spec,
.house-card--light .house-card__desc {
  color: white;
}

.house-card--light .house-card__spec::before {
  background-color: white;
}

/*
* House card
* With space before
*/
.house-card--push-in {
  padding-left: 65px;
}

.house-card--push-in .house-card__body {
  width: calc( 100% - 575px);
}

/*------------------------------------*\
  #SECTION-HOUSE SINGLE
\*------------------------------------*/
.house-single {
  position: relative;
}

.house-single__part {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/*
* House title
* And description
*/
.house-single__hero {
  width: calc( 100% - 514px);
  padding-right: 30px;
}

.house-single__title {
  margin-bottom: 30px;
  font-size: 1.875em;
  letter-spacing: 2px;
  color: #796296;
}

.house-single__desc {
  font-size: 1em;
  font-weight: 300;
  color: #6f6f6f;
}

.house-single__desc__part {
  margin-bottom: 1em;
}

/*
* House map place
*/
.house-single__map {
  width: 514px;
  height: 514px;
  overflow: hidden;
  /*Delete if you add a real map */
}

.house-single__map img {
  width: 100%;
}

/*
* House specifications
*/
.house-single__spec {
  width: 33.33%;
  margin-bottom: 55px;
  font-family: FjallaOne, serif;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6f6f6f;
}

.house-single__spec__number {
  display: block;
  margin-top: 25px;
  color: #796296;
  font-size: 2.1875em;
}

/*------------------------------------*\
  #SECTION-FORM
\*------------------------------------*/
.form {
  position: relative;
}

.form__text-field {
  width: 100%;
  height: 40px;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid #f4f4f4;
  border-radius: 360px;
  text-transform: uppercase;
  text-align: left;
  outline: none;
}

.form__text-field--search {
  margin-bottom: 45px;
}

.form__label {
  display: inline-block;
  margin-left: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.form__label--light {
  color: white;
}

.form__check-btn {
  display: none;
}

.form__custom-check-btn {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  vertical-align: middle;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.form__check-btn:checked ~
.form__custom-check-btn::after {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  display: block;
  background-color: #796296;
  border-radius: 50%;
}
