/* ==|====================
   Module/Box
   ======================= */

.box { position: relative; }

.box-logo {
  display: block;
  width: 70px;
  
  img { width: 100%; }
}

/*
* Wave shape tht contains
* Building image of the home page
*/
.box-header-mask-home {
  position: absolute;
  top: -100px;
  right: -400px;
  left: 370px;
  bottom: -580px;
  overflow: hidden;

  background: url(../img/banner-home.jpg) no-repeat center / cover;
  -webkit-mask: url(../img/header_mask_home.png) no-repeat bottom left / cover;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient( rgba( 118, 94, 131, 0.3 ), rgba( 73, 43, 83, 0.6 ) );
  }
}

/*
* Description part
* Of the home page
*/
.box-hero {
  width: 430px;
  float: left;
}

.box-hero__title {
  font-family: $title-font2;
  letter-spacing: -2px;
  font-size: convertPxToEm( 60px );
  line-height: 50px;
  color: $secondary-color;
}

.box-hero__body {
  margin: 35px 0 50px 0;
  
  font-size: convertPxToEm( 18px );
  font-weight: 300;
  color: #4e4e4e;
}