/*------------------------------------*\
  #SECTION-BOX
\*------------------------------------*/

.box { position: relative; }

.box-logo {
  display: block;
  width: 70px;
  z-index: 2;
  
  img { width: 100%; }
}

/*------------------------------------*\
  #SECTION-BANNER OF SINGLE-BUILDING PAGE
\*------------------------------------*/
.box-img-banner {
  width: 100%;
  height: 500px;
  
  overflow: hidden;
  
  img{ width: 100%; }
}

/*------------------------------------*\
  #SECTION-WAVE SHAPE OF PAGE HEADERS
\*------------------------------------*/

/*
* Default wave style
*/
.box-header-mask {
  position: absolute;
  overflow: hidden;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient( rgba( 118, 94, 131, 0.3 ), rgba( 73, 43, 83, 0.6 ) );
  }
}

/*
* Wave shape of Home page
*/
.box-header-mask--home {
  top: -100px;
  right: -400px;
  left: 370px;
  bottom: -580px;

  background: url(../img/banner-home.jpg) no-repeat center / cover;
  -webkit-mask: url(../img/header_mask_home.png) no-repeat bottom left / cover;
}

/*
* Wave shape of Buildings page
*/
.box-header-mask--buildings {
  top: 0;
  right: 0;
  left: 0;
  bottom: -830px;

  background: url(../img/banner-buildings.jpg) no-repeat center / cover;
  -webkit-mask: url(../img/header_mask_buildings.png) no-repeat bottom left / cover;

  text-align: right;
}

/*------------------------------------*\
  #SECTION-BOX CONTAINS DESCRIPTION OF PAGES
\*------------------------------------*/

/*
* Description part
* Of the home page
*/
.box-hero {
  width: 430px;
  float: left;
}

.box-hero__title {
  font-family: $title-font2;
  letter-spacing: -2px;
  font-size: convertPxToEm( 60px );
  line-height: 50px;
  color: $secondary-color;
}

.box-hero__body {
  margin: 35px 0 50px 0;
  
  font-size: convertPxToEm( 18px );
  font-weight: 300;
  color: #4e4e4e;
}

/*
* Description search part
* Of the buildings page
*/
.box-hero--search {
  float: right;
  width: 450px;
  text-align: right;
}

.box-hero--about {
  float: initial;
  width: 580px;
  margin: 0 auto;
  
  font-size: convertPxToEm( 18px );
  font-weight: 300;
  text-align: center;
  color: #423f43;
}