/*------------------------------------*\
  #SECTION-HOUSE CARDS
\*------------------------------------*/

/*
* Default wrapper of houses cards
*/
.house-card-group { margin-bottom: $secondary-white-space; }

.house-card {
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 40px;
}

.house-card__img {
  width: 480px;
  height: 480px;
  
  margin-right: 30px;
  background-color: white;

  img { width: 100%; }
}

.house-card__body { width: calc( 100% - 510px); }

.house-card__title {
  font-family: $base-font2;
  font-size: convertPxToEm( 25px );
  font-weight: 300;

  a:hover { text-decoration: underline; }
}

.house-card__specs-list { margin: 40px 0; }

.house-card__spec {
  display: block;
  margin-bottom: 15px;

  vertical-align: middle;

  color: #a7a7a7;
  font-size: convertPxToEm( 14px );

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;

    background-color: $primary-color;
    margin-right: 15px;

    vertical-align: middle;
  }
}

.house-card__desc { color: #6f6f6f; }

/*
* House card
* With light theme
*/
.house-card--light {
  .house-card__title a,
  .house-card__spec,
  .house-card__desc { color: white; }

  .house-card__spec::before { background-color: white; }
}

/*
* House card
* With space before
*/
.house-card--push-in {
  padding-left: 65px;

  .house-card__body { width: calc( 100% - 575px); }
}

/*------------------------------------*\
  #SECTION-HOUSE SINGLE
\*------------------------------------*/

.house-single { position: relative; }

.house-single__part {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.house-single__title {
  margin-bottom: 30px;

  font-size: convertPxToEm( 30px );
  letter-spacing: 2px;
  color: $primary-color;
}

.house-single__desc {
  font-size: convertPxToEm( 16px );
  font-weight: 300;
  color: #6f6f6f;
}

.house-single__desc__part { margin-bottom: 1em; }

.house-single__body {
  width: calc( 100% - 514px );
  padding-right: 30px;
}

.house-single__map {
  width: 514px;
  height: 514px;

  background-color: $primary-color;
}

.house-single__spec {
  width: 33.33%;
  margin-bottom: 55px;
  
  font-family: $title-font;
  font-size: convertPxToEm( 20px );
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6f6f6f;
}

.house-single__spec__count {
  display: block;

  margin-top: 25px;
  color: $primary-color;
  font-size: convertPxToEm( 35px );
}